[Desktop Entry]
Categories=findfish-StockBall;
Comment=findfish-StockBall
Comment[zh_CN]=摸鱼股票球
Encoding=UTF-8
Exec=/opt/durapps/findfish-stockball/findfish-StockBall
GenericName=findfish-StockBall
GenericName[zh_CN]=摸鱼股票球
Icon=/opt/durapps/findfish-stockball/stock.png
Name=findfish-StockBall
Name[zh_CN]=摸鱼股票球
StartupNotify=false
Terminal=false
Type=Application
Version=1.0.0.0
X-Deepin-Vendor=user-custom
